# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
hs_err_pid*

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Firebase
firebase-debug.log
.firebaserc
.firebase/

# Env / secrets
.env
.env.*

